body {
  background-color: var(--tg-theme-bg-color, #18222d);
  color: var(--tg-theme-text-color, #ffffff);
  font-family: "Roboto", sans-serif;
}

p {
  margin: 8px;
}

.select {
  display: grid;
  max-width: 300px;
  gap: 1px;
  margin-top: 2px;
}


#form {
  border-radius: 2px;
  border-color: var(--tg-theme-secondary-bg-color, #131415);
  transition: all 0.5s;
}

/* #form:hover {
  border-radius: 2px;
  border-color: var(--tg-theme-secondary-bg-color, #131415);
} */
/* #form:focus {
  border: 20px solid var(--tg-theme-button-color, #2ea6ff);
} */

#confirm_button {
  padding: 2px;
  margin-top: 0.2em;
  text-align: center;
  font-weight:bold;
  outline:none;
  background: var(--tg-theme-button-color, #2ea6ff);
  border-radius: 2px;
  border: 5px var(--tg-theme-secondary-bg-color, #131415);
  color: var(--tg-theme-button-text-color, #ffffff);
  transition: all 0.5s;
}

/* #confirm_button:focus {
  background: linear-gradient(to left top, var(--tg-theme-button-color, #2ea6ff), var(--tg-theme-secondary-bg-color, #131415)) fixed;
} */

.select.weekdays {
  grid-template-columns: repeat(7, 1fr);
}

.select.hours {
  grid-template-columns: repeat(6, 1fr);
}

.select__item {
  padding: 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  text-align: center;
  border-radius: 4px;
  border-color: var(--tg-theme-button-color, #2ea6ff);
  background: var(--tg-theme-secondary-bg-color, #131415);
  color: var(--tg-theme-button-text-color, #ffffff);
  transition: background 0.1s;
}

.select__item--selected {
  background: var(--tg-theme-button-color, #2ea6ff);
}
